<!DOCTYPE html>
<html>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
<<<<<<< HEAD
        <p>97 Bowling Alley Lane, Boulder CO </p>
    </body>
=======
    </body>
     <p>97 Bowling Alley Lane, Boulder CO.</p>
>>>>>>> 974237c6a1cd6f0ef5453b7d2b4d3570e76173c5
</html>